<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hypogram</title>
    <link rel="stylesheet" href="/styles/aprendaScrum.css" />
    <script src="/scripts/abrirTela.js" defer></script>
  </head>
  <body>
    <main>
      <h1>Conteúdos</h1>
      <div class="container">
        <div class="card">
          <img src="/imgs/CulturaMindsetAgil.svg" alt="" />

          <div>
            <h1>Cultura e mindset ágil</h1>
            <p>
              Neste capítulo, você vai explorar como a cultura ágil e o mindset
              colaborativo são essenciais no Scrum. Entenda como a adaptação, a
              comunicação aberta e a melhoria contínua impulsionam equipes a
              serem mais eficientes e entregarem valor de forma rápida e
              flexível.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/culturaMindset')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/PrincipiosValores.svg" alt="" />

          <div>
            <h1>Princípios e valores do Scrum</h1>
            <p>
              Aqui você vai aprender sobre os princípios e valores fundamentais
              do Scrum, como foco, coragem, transparência e respeito. Esses
              pilares guiam as equipes a trabalharem de forma colaborativa e
              eficaz, garantindo entregas frequentes e de qualidade.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/principiosValores')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/Papeis.svg" alt="" />

          <div>
            <h1>Papéis do Scrum</h1>
            <p>
              Neste tópico, você vai conhecer os três principais papéis no
              Scrum: Product Owner, Scrum Master e o Time de Desenvolvimento.
              Cada um desempenha uma função essencial para garantir a
              organização, o alinhamento e o sucesso do projeto.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/papeisScrum')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/Artefatos.svg" alt="" />

          <div>
            <h1>Artefatos do Scrum</h1>
            <p>
              Nesta seção, você vai descobrir os três artefatos fundamentais do
              Scrum: Product Backlog, Sprint Backlog e Incremento. Eles são
              essenciais para manter a transparência, o foco e o progresso no
              desenvolvimento do projeto.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/ArtefatosScrum')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/Eventos.svg" alt="" />

          <div>
            <h1>Eventos do Scrum</h1>
            <p>
              Abordaremos sobre os principais eventos do Scrum: Sprint, Daily
              Scrum, Sprint Review e Sprint Retrospective. Esses encontros
              estruturam o processo e garantem a colaboração contínua e a
              entrega de valor.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/eventoScrum')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/Framework.svg" alt="" />

          <div>
            <h1>Framework de trabalho</h1>
            <p>
              Nesta parte, você entenderá como o Scrum funciona como um
              framework ágil, organizando o desenvolvimento de projetos em
              ciclos curtos e repetitivos, promovendo colaboração, adaptação e
              entrega contínua de valor.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/frameworkTrabalho')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
        <div class="card">
          <img src="/imgs/Tecnicas.svg" alt="" />

          <div>
            <h1>Técnicas e ferramentas</h1>
            <p>
              Explore as principais técnicas e ferramentas utilizadas no Scrum,
              que auxiliam na organização, planejamento e execução das
              atividades, garantindo mais eficiência e controle ao processo de
              desenvolvimento.
            </p>
          </div>

          <div id="botao-leiaMais">
            <button onclick="abrirTela('/tecnicasFerramentas')">
              <p>Leia mais</p>
              <img src="/imgs/seta-direita.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="/scripts/index.js"></script>
  </body>
</html>
