<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/scripts/index.js" defer></script>
    <link rel="stylesheet" href="/styles/ArtefatosScrum.css" />
    <title>Artefatos do Scrum</title>
  </head>

  <body>
    <main>
      <section>
        <h1>Artefatos do Scrum</h1>
        <article>
          <div>
            
            <p>
              No framework Scrum, os artefatos desempenham um papel fundamental
              na transparência, inspeção e adaptação do trabalho ao longo do
              desenvolvimento de um produto. Eles servem como ferramentas
              essenciais para que o time Scrum, o Product Owner e as partes
              interessadas acompanhem o progresso, garantam que as metas estejam
              sendo atingidas e verifiquem se o valor está sendo entregue da
              maneira esperada. Os artefatos do Scrum são projetados para dar
              visibilidade ao processo e facilitar a tomada de decisões baseada
              em dados claros e atualizados.
            </p>
            <div class="img">
              <img src="/imgs/artefatos-scrum.svg" alt="Artefatos do Scrum" />
            </div>
          </div>
          <p>
            Existem três artefatos principais no Scrum, cada um com uma função
            única e essencial para o sucesso do desenvolvimento ágil:
          </p>

          <h3>1. Product Backlog: O Coração do Produto</h3>
          <p>
            O Product Backlog é uma lista emergente, ordenada e priorizada de
            tudo o que precisa ser feito para melhorar o produto. Ele é o
            repositório central de todas as ideias, melhorias, correções e novas
            funcionalidades que o produto deve incluir. O Product Owner é o
            responsável por gerenciar o backlog, o que significa que ele deve
            garantir que todos os itens estejam bem definidos e priorizados de
            acordo com o valor que entregam ao produto e às necessidades dos
            stakeholders.
          </p>
          <p>
            O Product Backlog está em constante evolução à medida que o produto
            avança e as demandas mudam. Durante o refinamento do backlog, novos
            itens são adicionados, detalhados, reordenados ou removidos,
            dependendo das prioridades do momento e do feedback recebido dos
            usuários. Esse processo contínuo de refinamento assegura que o
            backlog sempre reflita o que é mais importante para o negócio.
          </p>
          <p>
            Itens do backlog são descritos como "Histórias de Usuário" ou
            "Requisitos", e cada um deve incluir critérios de aceitação claros.
            Isso ajuda a equipe de desenvolvimento a entender exatamente o que
            deve ser feito e como o sucesso será medido. Além disso, o Product
            Backlog deve ser suficientemente detalhado para que os itens do topo
            estejam prontos para serem selecionados para a próxima Sprint.
          </p>
          <div class="img">
            <img src="/imgs/artefatos-scrum2.svg" alt="Backlog de Produto" />
          </div>

          <h3>2. Sprint Backlog: O Trabalho Focado da Sprint</h3>
          <p>
            O Sprint Backlog é um subconjunto do Product Backlog. Ele contém os
            itens que foram selecionados pela equipe de desenvolvimento para
            serem concluídos durante a Sprint. Em outras palavras, o Sprint
            Backlog é o conjunto de tarefas que a equipe se compromete a
            entregar em um ciclo de trabalho, que geralmente dura entre uma a
            quatro semanas.
          </p>
          <p>
            A equipe de desenvolvimento tem autonomia para decidir como o
            trabalho será realizado. Após a seleção dos itens durante a Sprint
            Planning, o Sprint Backlog se torna o plano de ação da equipe para o
            período da Sprint. O Sprint Backlog inclui não apenas os itens
            selecionados do Product Backlog, mas também as tarefas técnicas
            necessárias para completar esses itens, como desenvolvimento, testes
            e integração.
          </p>
          <p>
            Ao longo da Sprint, o Sprint Backlog é constantemente monitorado e
            ajustado conforme necessário. As reuniões diárias (Daily Scrum) são
            uma oportunidade para a equipe discutir o progresso e identificar
            quaisquer obstáculos que possam estar dificultando a conclusão dos
            itens do backlog. No entanto, o escopo da Sprint não deve mudar
            depois que a equipe se compromete com os itens, a menos que haja uma
            necessidade urgente e significativa.
          </p>
          <div class="img">
            <img src="/imgs/artefatos-scrum3.svg" alt="Sprint Backlog" />
          </div>
          <div class="incremento-container">
            <div class="texto-lateral">
              <h3>3. Incremento: O Resultado Tangível da Sprint</h3>
              <p>
                O Incremento é o terceiro e último artefato do Scrum,
                representando o resultado acumulado de todos os itens concluídos
                durante uma Sprint. O Incremento é a soma de todos os itens do
                Product Backlog que foram concluídos até o momento, e ele deve
                ser uma versão funcional do produto, pronta para ser entregue ou
                implementada, caso necessário.
              </p>
              <p>
                Cada Incremento deve estar de acordo com a "Definição de Pronto"
                (Definition of Done), um conjunto de critérios que a equipe
                acorda para garantir que o trabalho foi concluído com qualidade.
                Esses critérios podem incluir a finalização do desenvolvimento,
                testes realizados com sucesso, documentação adequada e a
                integração completa do novo trabalho ao produto.
              </p>
              <p>
                Um aspecto importante do Incremento é que ele deve ser
                potencialmente liberável ao final de cada Sprint, mesmo que o
                Product Owner decida não lançar a nova versão imediatamente.
                Isso significa que, ao fim de cada Sprint, o produto deve estar
                em um estado funcional, independentemente de novas
                funcionalidades serem adicionadas em sprints subsequentes.
              </p>
            </div>
            <div class="img-lateral">
              <img src="/imgs/artefatos-scrum4.svg" alt="Incremento" />
            </div>
          </div>
          <h3>Conclusão</h3>
          <p>
            Os artefatos do Scrum — o Product Backlog, o Sprint Backlog e o
            Incremento — são componentes vitais para garantir que o
            desenvolvimento ágil funcione de maneira eficaz. Eles oferecem
            transparência para todos os envolvidos, garantindo que o progresso
            seja visível, que os objetivos sejam claros e que as entregas sejam
            de alta qualidade. O uso adequado desses artefatos permite que as
            equipes Scrum mantenham o foco no valor, promovam a melhoria
            contínua e entreguem produtos que atendam às expectativas dos
            stakeholders.
          </p>
          <p>
            A chave para o sucesso no Scrum é o gerenciamento eficiente desses
            artefatos, junto com a colaboração contínua entre o Product Owner, o
            Scrum Master e a equipe de desenvolvimento. Isso garante que o
            trabalho seja sempre direcionado para maximizar o valor e atender às
            necessidades do mercado de forma ágil e responsiva.
          </p>
        </article>

        <section class="questionario">
          <h1>Questionário</h1>
          <p>Clique abaixo para abrir as questão</p>
          <button onclick="getQuestionario('4')" class="button-questionario">
            Questionário
          </button>
        </section>

          <div class="alinhamento">
            <div class="next-previous">
              <a href="/papeisScrum">Papéis do Scrum</a>
              <a href="/eventoScrum">Eventos do Scrum</a>
            </div>
          </div>
      </section>
    </main>

    <script type="module" src="/scripts/indexModalQuestionario.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
    <script src="/scripts/abrirTela.js"></script>
  </body>
</html>
