<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura e Mindset Ágil</title>
    <link rel="stylesheet" href="/styles/culturaMindset.css">
</head>

<body>
    <main>
        <section>
                <h1>Cultura e mindset ágil</h1>
            <article>
                
                <h3>Manifesto Ágil</h3>

                <p>O Manifesto Ágil foi criado em 2001 por um grupo de desenvolvedores de software que buscavam uma
                    abordagem mais eficiente, colaborativa e flexível para o desenvolvimento de projetos. Esse manifesto
                    se baseia em quatro valores e doze princípios que têm como foco principal a entrega de valor ao
                    cliente, a colaboração entre equipes e a capacidade de adaptação às mudanças. Esses valores são:</p>
                <ol>
                    <li>Indivíduos e interações mais que processos e ferramentas: A importância das pessoas e da
                        comunicação direta é central, superando a dependência de ferramentas ou processos formais.</li>

                    <li>Software funcionando mais que documentação abrangente: O principal objetivo é a entrega contínua
                        de software em funcionamento, pois ele é o verdadeiro indicador de progresso.</li>

                    <li>Colaboração com o cliente mais que negociação de contratos: Colocar o cliente no centro,
                        permitindo que ele participe ativamente do desenvolvimento, possibilita ajustes mais rápidos e
                        melhor entendimento de suas necessidades.</li>

                    <li>Responder a mudanças mais que seguir um plano: O foco é a adaptabilidade, aceitando que mudanças
                        são inevitáveis e bem-vindas.</li>
                </ol>
            

            </article>

            <div class="img">
                <img src="/imgs/cultmindset1.svg" alt="Imagem Manifesto Ágil">
            </div>

            <article>
                <h3>Cultura e Mindset Ágil</h3>

                <p>Esses valores moldam a cultura do mindset ágil, que vai além das práticas de trabalho e toca
                    profundamente a forma de pensar e agir em equipe. O mindset ágil foca na flexibilidade, aprendizado
                    contínuo e adaptação às mudanças, entendendo que o ambiente de negócios é dinâmico e incerto. Ele
                    envolve:</p>
                <ol>
                    <li>Colaboração e confiança: A equipe trabalha de forma colaborativa, com confiança mútua e senso de
                        responsabilidade compartilhada.</li>

                    <li>Entregas incrementais: Pequenas entregas frequentes permitem correções rápidas e feedback
                        constante
                        do cliente.</li>

                    <li>Feedback contínuo: O aprendizado contínuo é central. Cada entrega é uma oportunidade de ajustar
                        o
                        processo e o produto com base no feedback.</li>

                    <li>Foco em pessoas e aprendizado: As equipes são encorajadas a se auto-organizarem e buscarem
                        constantemente melhorar suas habilidades e processos.</li>
                </ol>
                <p>No contexto da cultura organizacional, o mindset ágil promove uma mentalidade de inovação e melhoria
                    contínua, eliminando silos e incentivando a comunicação aberta. É um movimento que transforma tanto
                    a maneira de gerir projetos quanto a forma como as empresas respondem a desafios e oportunidades.
                </p>
            </article>

            <div class="img">
                <img src="/imgs/cultmindset2.svg" alt="Mindset, valores, principios e práticas">
            </div>

            <article>
                <h3>Diferença entre o Manifesto Ágil e o Mindset Ágil</h3>
                <ol>
                    <li>
                        O <strong>manifesto ágil</strong> é um documento formal com valores e princípios específicos
                        para
                        guiar a aplicação de práticas ágeis, especialmente no desenvolvimento de software.</li>

                    <li>O <strong>mindset ágil</strong> é uma mentalidade ou forma de pensar mais ampla e cultural,
                        focada
                        na adaptação, colaboração e aprendizado contínuo, aplicável a diversos contextos organizacionais
                        e
                        pessoais.</li>
                </ol>
                <p>Em suma, o manifesto serve como uma base filosófica para metodologias ágeis, enquanto o mindset ágil
                    é a aplicação prática dessa filosofia no dia a dia, com um foco mais amplo e voltado para atitudes e
                    comportamentos.</p>
            </article>

            <section class="questionario">
                <h1>Questionário</h1>
                <p>Clique abaixo para abrir as questão</p>
                <button onclick="getQuestionario('1')" class="button-questionario">Questionário</button>
            </section>

            <div class="alinhamento">
            <div class="next-previous">
                <a href="/tecnicasFerramentas">Técnicas e ferramentas</a>
                <a href="/principiosValores">Princípios e valores </a>
            </div>
        </div>
            </article>

        </section>
    </main>

    <script type="module" src="/scripts/index.js"></script>
    <script type="module" src="/scripts/indexModalQuestionario.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
    <script src="/scripts/abrirTela.js"></script>
</body>

</html>