<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/frameworkTrabalho.css" />
    <title>Framework de trabalho</title>
  </head>
  <body>
    <main>
      <section>

          <h1>Framework de trabalho</h1>
          <div class="img">
            <img 
              src="/imgs/framework-scrum.svg"
              alt="Processo de trabalho do scrum"
            />
          </div>
        <article>
          <h3>O que é</h3>
          <p>
            Framework de trabalho é um conjunto estruturado de diretrizes,
            práticas, ferramentas e conceitos que orienta a maneira como um
            determinado processo, projeto ou atividade deve ser conduzido. Ele
            oferece uma base organizacional que facilita a execução de tarefas
            de maneira eficiente e consistente, fornecendo uma abordagem
            padronizada para resolver problemas ou alcançar metas específicas.
          </p>
        </article>
        <article>
          <h3>Onde aplica</h3>
          <p>
            Um framework pode ser aplicado em diversas áreas, como no
            desenvolvimento de software, gerenciamento de projetos, gestão de
            negócios e até mesmo em metodologias de ensino. Ele atua como um
            "esqueleto" que pode ser adaptado de acordo com as necessidades do
            contexto em que está sendo utilizado, fornecendo flexibilidade, mas
            ao mesmo tempo garantindo que princípios fundamentais sejam
            seguidos.
          </p>
        </article>
        <article>
          <section class="linhas-framework-imagem">
            <div>
              <h3>Características de um framework de trabalho</h3>
              <ul>
                <li>
                  Estruturação: Ele organiza o trabalho de forma lógica e
                  sequencial, facilitando o entendimento e a aplicação.
                </li>
                <li>
                  Padronização: Oferece uma abordagem uniforme que pode ser
                  replicada em diferentes situações ou projetos.
                </li>
                <li>
                  Flexibilidade: Embora forneça diretrizes claras, pode ser
                  adaptado às especificidades de cada projeto ou equipe.
                </li>
                <li>
                  Eficiência: A implementação de um framework ajuda a evitar
                  erros comuns e a otimizar os recursos disponíveis.
                </li>
                <li>
                  Escalabilidade: Pode ser aplicado a projetos de diferentes
                  tamanhos, desde os pequenos até os de grande escala.
                </li>
              </ul>
            </div>
            <div>
              <img
                src="/imgs/framework-caracteristicas.svg"
                alt="Caraterística de um framework"
              />
            </div>
          </section>
        </article>
        <article>
          <h3>Exemplos de frameworks</h3>
          <p>
            No desenvolvimento de software: Frameworks como
            <strong>Django (Python)</strong>, <strong>Laravel (PHP)</strong> ou
            <strong>Spring (Java)</strong> fornecem uma estrutura para facilitar
            o desenvolvimento de aplicativos web, com módulos e ferramentas
            prontas que podem ser customizadas.
          </p>
          <p>
            Na gestão de projetos: Scrum e Kanban são frameworks ágeis que
            orientam equipes no planejamento e execução de projetos de forma
            iterativa e colaborativa.
          </p>
          <p>
            Em resumo, um framework de trabalho não é uma solução definitiva
            para todos os problemas, mas uma ferramenta que guia e facilita o
            processo de alcançar os objetivos de maneira mais organizada e
            eficiente.
          </p>
        </article>
        <article>
          <h3>Principais nomes de referência</h3>
          <p>
            Ao discutir frameworks de trabalho, alguns nomes e conceitos de
            referência são frequentemente abordados em diferentes áreas, como
            desenvolvimento de software, gestão de projetos e negócios. Aqui
            estão alguns dos principais:
          </p>
        </article>
        <article>
          <section class="linhas-framework">
            <div>
              <h3>Desenvolvimento de Software</h3>
              <ul>
                <li>
                  Martin Fowler: Um renomado autor e consultor de software,
                  conhecido por seus trabalhos sobre design de software,
                  arquitetura e padrões de desenvolvimento. Ele é uma autoridade
                  quando se fala em padrões de arquitetura e boas práticas no
                  uso de frameworks.
                </li>
                <li>
                  Kent Beck: Criador do Extreme Programming (XP), uma
                  metodologia ágil de desenvolvimento de software. Ele também
                  esteve fortemente envolvido na criação do JUnit, um dos
                  primeiros frameworks para testes de unidade no desenvolvimento
                  de software.
                </li>
                <li>
                  Guido van Rossum: Criador do Python, uma linguagem de
                  programação que tem vários frameworks associados, como Django
                  e Flask, amplamente utilizados para o desenvolvimento de
                  aplicações web.
                </li>
                <li>
                  David Heinemeier Hansson (DHH): Criador do Ruby on Rails, um
                  dos frameworks mais influentes no desenvolvimento web, que
                  introduziu o conceito de "convention over configuration"
                  (convenção sobre configuração).
                </li>
              </ul>
            </div>
            <div>
              <h3>Gestão de Projetos</h3>
              <ul>
                <li>
                  Ken Schwaber e Jeff Sutherland: Criadores do Scrum, um dos
                  frameworks ágeis mais utilizados no gerenciamento de projetos,
                  especialmente em desenvolvimento de software. Eles
                  estabeleceram as bases para a abordagem colaborativa e
                  iterativa no trabalho de equipes.
                </li>
                <li>
                  Taiichi Ohno: Considerado o pai do Lean Manufacturing, que
                  inspirou muitos dos princípios por trás do Lean Software
                  Development e do Kanban. Seu trabalho na Toyota revolucionou a
                  gestão de processos e eficiência, influenciando frameworks que
                  focam na otimização do fluxo de trabalho.
                </li>
                <li>
                  Eliyahu M. Goldratt: Autor da Teoria das Restrições (Theory of
                  Constraints), que, apesar de não ser um framework por si só,
                  contribuiu para a criação de ferramentas como o Kanban, muito
                  utilizado no gerenciamento de fluxos de trabalho.
                </li>
              </ul>
            </div>
          </section>
        </article>
        <div class="imagens-framework">
          <img src="/imgs/framework-django.svg" alt="Django" />
          <img src="/imgs/framework-laravel.svg" alt="Laravel" />
          <img src="/imgs/framework-spring.svg" alt="Spring" />
        </div>
        <article class="topico">
          <h3>Ligação do Scrum com Framework de trabalho</h3>
          <p>
            Scrum é um exemplo prático de framework de trabalho, aplicável na
            gestão de projetos. Ele organiza o processo em ciclos curtos e
            contínuos, define papéis e práticas para maximizar a colaboração e o
            aprendizado, e ajuda a garantir que os projetos sejam conduzidos de
            maneira ágil e eficiente.
          </p>
        </article>
        <section class="questionario">
          <h3>Questionário</h3>
          <p>Clique abaixo para abrir as questões</p>
          <button
            onclick="getQuestionario('6')"
            class="button-questionario"
            aria-label="Abrir questionário de avaliação"
          >
            Questionário
          </button>
        </section>

          <div class="alinhamento">
            <div class="next-previous">
              <a href="/eventoScrum">Eventos do Scrum</a>
              <a href="/tecnicasFerramentas">Técnicas e ferramentas</a>
            </div>
          </div>
      </section>
    </main>

    <script type="module" src="/scripts/index.js"></script>
    <script type="module" src="/scripts/indexModalQuestionario.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
    <script src="/scripts/abrirTela.js"></script>
    <!-- <script src="./scripts/enviarQuestionario.js"></script> -->
  </body>
</html>
