<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hypogram</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <script type="module" src="/scripts/index.js" defer></script>
    <script src="/scripts/abrirTela.js" defer></script>
  </head>
  <body>
    <main>
      <h1>Aprenda a metodologia Scrum e se destaque.</h1>

      <div class="container">
        <img src="/imgs/main-sprint.svg" alt="scrum" class="imgScrum" />

        <section id="card">
          <h1>Aprenda Scrum de forma fácil e prática</h1>
          <p>
            Nosso curso de Scrum foi desenvolvido para ensinar de maneira clara
            e objetiva todos os aspectos dessa metodologia ágil. Com aulas
            interativas e recursos visuais, você aprenderá tudo sobre sprints,
            backlogs, Product Owner, Scrum Master e outras atividades
            essenciais.
          </p>
          <div id="botoes">
            <button onclick="abrirTela('/aprendaScrum')">Saiba mais</button>
            <div id="botao-inscreva">
              <button class="show" onclick="abrirTela('/cadastro')">
                <p>Inscreva-se</p>
                <img src="/imgs/seta-direita.svg" alt="" />
              </button>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
