<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hypogram</title>
    <link rel="stylesheet" href="/styles/logincadastro.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="/scripts/abrirTela.js"></script>
    <script type="module" src="/scripts/login.js" defer></script>
    <script src="/data/usuario_data.js" defer></script>
    <script src="/scripts/getUsuario.js" defer></script>
  </head>

  <body>
    <main id="Login">
      <form id="FormLogin" action="/loginUser" method="post">
        <h1>Login</h1>
        <div>
          <input type="email" name="email" id="email" placeholder="E-mail" />
          <i class="fas fa-envelope"></i>
        </div>

        <div>
          <input
            type="password"
            name="senha"
            id="password"
            placeholder="Senha"
          />
          <i class="fas fa-eye-slash"></i>
        </div>

        <div><a href="/cadastro">Cadastre-se</a></div>
        <button type="submit">Login</button>
        <button id="botaoVoltar" type="button">Voltar</button>
      </form>
    </main>
  </body>
</html>
