<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papéis do Scrum</title>
    <link rel="stylesheet" href="/styles/papeisScrum.css">
</head>

<body>
    <main class="container">

        <article>
            <h1>Papéis do Scrum</h1>
            <div class="conteudo">

                <div class="img">
                    <img src="/imgs/Papeis1.svg" alt="Scrum Master/Dono do Produto/Time">
                </div>

                <h2>Product Owner (PO)</h2>

                <p>O Product Owner é o responsável por maximizar o valor do produto resultante do trabalho da equipe
                    Scrum. Este papel é crucial para garantir que o produto atenda às necessidades e expectativas dos
                    stakeholders. <br><br>

                    O PO tem algumas funcionalidades, como: <br></p>
                <ol>
                    <li>
                        Responsável pela visão do produto: O Product Owner (PO) define o que deve ser construído e
                        prioriza o trabalho para maximizar o valor do produto. <br>
                    </li>
                    <li>
                        Gerencia o Backlog do Produto: Cria, refina e prioriza o Backlog do Produto, que é uma lista
                        ordenada de requisitos e tarefas.
                    </li>
                    <li>
                        Comunica-se com as partes interessadas: Atua como o principal ponto de contato entre a equipe de
                        desenvolvimento e os stakeholders, garantindo que as expectativas e necessidades estejam
                        alinhadas. </li>
                    <br>
                </ol>


                <p> Um exemplo direto do papel de PO:</p>
                <p>
                    Imagine um PO que está trabalhando em um aplicativo de e-commerce. Ele pode definir que a
                    funcionalidade de “pagamento com um clique” é a prioridade para a próxima iteração. Ele revisa e
                    prioriza os itens do backlog relacionados a essa funcionalidade e colabora com a equipe de
                    desenvolvimento para garantir que o produto atenda às necessidades dos usuários finais.</p>
                </p>

                <h2>Scrum Master</h2>

                <p>O Scrum Master é o facilitador do time Scrum. Seu papel é garantir que a equipe siga as práticas e os
                    valores do Scrum, ajudando a remover impedimentos e promovendo um ambiente de trabalho eficaz.
                </p>

                <p> Assim como o PO, o Scrum Master tem suas funcionalidades: </p>

                <ol>
                    <li>Facilitador do Processo Scrum: Garante que o Scrum esteja sendo seguido corretamente e remove
                        impedimentos que possam atrapalhar o progresso da equipe. </li>
                    <li>Mentor e Coach: Auxilia a equipe a adotar e melhorar práticas ágeis, oferecendo treinamento e
                        suporte. </li>
                    <li>Protege a Equipe: Defende a equipe contra interferências externas e distrações que possam
                        impactar
                        a produtividade. </li>

                    <p>Um exemplo da funcionalidade do Scrum Master: </p>

                    <p>Em um projeto de desenvolvimento de software, o Scrum Master percebe que a equipe está
                        enfrentando
                        dificuldades devido à falta de clareza nas especificações. Ele organiza uma reunião para
                        esclarecer
                        os requisitos e resolve o problema de comunicação entre o PO e a equipe, garantindo que todos
                        tenham
                        uma compreensão comum das tarefas a serem realizadas.</p>
                    </p>

                    <h2>Time de Desenvolvimento</h2>

                    <p>A Equipe de Desenvolvimento é composta pelos profissionais que trabalham diretamente na criação
                        do
                        produto. Eles são responsáveis por entregar incrementos de produto que atendam aos critérios de
                        aceitação e às definições de pronto estabelecidas.</p>

                    <p>As funções do time de desenvolvimento são: </p>
                    <ol>
                        <li> Entrega de Incrementos de Produto: O time é responsável por transformar os itens do Backlog
                            do
                            Produto em incrementos funcionais e potencialmente liberáveis. </li>
                        <li>Auto-organização: O time decide como melhor realizar o trabalho e organiza-se para atingir
                            os
                            objetivos da Sprint. </li>
                        <li>Multidisciplinaridade: Possui todas as habilidades necessárias para entregar o produto,
                            incluindo
                            desenvolvimento, design, testes e outras competências. </li>

                        <p>Um exemplo das ações do time de desenvolvimento: </p>
                        <p> Em um projeto de desenvolvimento web, o time de desenvolvimento pode ser composto por
                            desenvolvedores, designers e testadores. Durante uma Sprint, o time pode decidir que o
                            melhor
                            caminho para implementar uma nova funcionalidade é através de uma abordagem de design
                            iterativo.
                            Eles se organizam para dividir o trabalho, desenvolvem a funcionalidade e realizam testes
                            para
                            garantir que ela esteja funcionando conforme o esperado antes da entrega.</p>


                        <div class="img">
                            <img src="/imgs/Papeis2.svg"
                                alt="Scrum Master, Product Owner and Development Team">
                        </div>

                        <h2>Conclusão</h2>

                        <p>Concluímos que cada papel no Scrum é essencial para garantir que o projeto seja entregue com
                            sucesso.
                            O Product Owner garante que a visão e o valor do produto sejam claros, o Scrum Master
                            facilita o
                            processo e remove obstáculos, e o Time de Desenvolvimento entrega o trabalho. Os
                            Stakeholders ajudam
                            a garantir que o produto final atenda às necessidades e expectativas do mercado. A
                            colaboração entre
                            todos esses papéis é crucial para o sucesso de projetos ágeis. </p>

                        <section class="questionario">
                            <h1>Questionário</h1>
                            <p>Clique abaixo para abrir as questão</p>
                            <button onclick="getQuestionario('3')" class="button-questionario">Questionário</button>
                        </section>

        </article>
        <div class="next-previous">
            <a href="/principiosValores">Princípios e valores</a>
            <a href="/ArtefatosScrum">Artefatos Scrum</a>
        </div>
        </div>
    </main>


    <script type="module" src="/scripts/index.js"></script>
    <script type="module" src="/scripts/indexModalQuestionario.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
    <script src="/scripts/abrirTela.js"></script>
</body>

</html>