<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hypogram</title>
    <link rel="stylesheet" href="/styles/preCertificado.css" />
    <script type="module" src="/scripts/index.js" defer></script>
    <script src="/scripts/abrirTela.js"></script>
  </head>
  <body>
    <main>
      <section>
        <img id="img-certificado" src="/imgs/pre-certificado.svg" alt="" />
        <div class="botoes">
          <button onclick="abrirTela('/certificado')" type="button">
            Gerar certificado
          </button>
          <button onclick="abrirTela('/')" type="button">Página inicial</button>
        </div>
      </section>
    </main>
  </body>
</html>
