<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Princípios e Valores</title>
    <link rel="stylesheet" href="/styles/principiosValores.css" />
    <script type="module" src="/scripts/index.js"></script>
  </head>
  <body>
    <main class="container">
      <section>
        <h1>Princípios e Valores</h1>
        <article>
          <h3>Os Pilares do Scrum: A Base da Agilidade</h3>

          <p>
            Os pilares do Scrum são como os alicerces de uma casa; sem eles,
            nada se mantém no lugar. Eles ajudam a equipe a trabalhar de maneira
            eficiente e a alcançar seus objetivos. Aqui estão os três pilares do
            Scrum:
          </p>

          <h3>Transparência:</h3>

          <p>
            Imagine que todos os membros da equipe têm acesso a todas as
            informações importantes sobre o projeto. Isso inclui como o projeto
            está indo, quais são os resultados e quais obstáculos estão
            surgindo. Por que é importante: Quando todos sabem o que está
            acontecendo, fica mais fácil tomar decisões e entender o estado
            atual do projeto. É como estar todos na mesma página. Como fazemos
            isso: Usamos ferramentas visuais como quadros e gráficos para
            mostrar o progresso e fazemos reuniões diárias para manter todos
            atualizados.
          </p>

          <h3>Inspeção:</h3>

          <p>
            Inspecionar significa dar uma olhada regular no que está sendo feito
            e no processo que estamos seguindo. Por que é importante: Isso nos
            ajuda a encontrar problemas antes que se tornem grandes demais e a
            descobrir maneiras de melhorar. Pense nisso como uma revisão
            constante para garantir que estamos no caminho certo. Como fazemos
            isso: Realizamos reuniões de revisão e retrospectivas para discutir
            o que está funcionando e o que pode ser ajustado.
          </p>

          <h3>Adaptação:</h3>

          <p>
            Depois de identificar problemas ou oportunidades durante a inspeção,
            é hora de fazer ajustes. Isso pode significar mudar o plano, o
            processo ou até mesmo o produto. Por que é importante: Adaptação é a
            chave para melhorar continuamente e se ajustar às mudanças. Ajuda a
            garantir que o projeto continue alinhado com as necessidades e
            expectativas. Como fazemos isso: Atualizamos o backlog do produto e
            ajustamos nossas abordagens com base no feedback que recebemos.
          </p>
        </article>

        <div class="img">
          <img src="/imgs/Valores-do-Scrum1.svg" alt="Pilares do Scrum" />
        </div>

        <article>
          <h3>Os Valores do Scrum: A Bússola para o sucesso</h3>

          <p>
            Os valores do Scrum são como um guia moral para a equipe. Eles
            ajudam a criar um ambiente de trabalho positivo e produtivo. Aqui
            estão os cinco valores principais:
          </p>

          <h3>Coragem:</h3>

          <p>
            Ter coragem significa enfrentar desafios difíceis, admitir quando
            algo deu errado e buscar novas soluções. Por que é importante: Sem
            coragem, é difícil inovar e resolver problemas de maneira eficaz. A
            coragem nos ajuda a crescer e melhorar. Como praticamos isso:
            Encorajamos a equipe a experimentar novas ideias e a aprender com os
            erros.
          </p>

          <h3>Foco:</h3>

          <p>
            Manter o foco significa concentrar-se no que realmente importa para
            o projeto, evitando distrações. Por que é importante: Isso ajuda a
            garantir que estamos trabalhando nas tarefas certas e utilizando
            nosso tempo e recursos de forma eficiente. Como praticamos isso:
            Definimos metas claras para cada Sprint e priorizamos o backlog do
            produto.
          </p>

          <h3>Comprometimento:</h3>

          <p>
            Estar comprometido é estar totalmente envolvido com o trabalho e com
            os objetivos da equipe. Por que é importante: O comprometimento
            ajuda a garantir que todos na equipe estejam trabalhando com
            dedicação e foco, o que leva a melhores resultados. Como praticamos
            isso: Garantimos que todos saibam suas responsabilidades e estejam
            motivados para alcançar os objetivos do projeto.
          </p>

          <h3>Respeito:</h3>

          <p>
            Respeitar significa valorizar as opiniões e perspectivas dos
            colegas, e criar um ambiente onde todos se sintam valorizados. Por
            que é importante: O respeito facilita a colaboração e a resolução de
            conflitos, criando um ambiente de trabalho mais harmonioso. Como
            praticamos isso: Ouvimos ativamente os colegas e consideramos suas
            sugestões com seriedade.
          </p>

          <h3>Abertura:</h3>

          <p>
            Ser aberto significa comunicar-se de maneira honesta e transparente
            e estar disposto a receber feedback. Por que é importante: A
            abertura promove a confiança e a colaboração, ajudando a resolver
            problemas rapidamente e a melhorar continuamente. Como praticamos
            isso: Facilitamos o feedback regular e mantemos todos informados
            sobre o progresso do projeto.
          </p>
        </article>

        <div class="img">
          <img src="/imgs/Valores-do-Scrum2.svg" alt="Scrum Values" />
        </div>

        <article>
          <h3>Os Princípios do Scrum: O Motor por trás da Agilidade</h3>

          <p>
            Os princípios do Scrum ajudam a transformar valores e pilares em
            práticas reais. Eles são a base para um desenvolvimento ágil e
            eficaz. Aqui estão alguns dos princípios principais:
          </p>

          <h3>Empirismo:</h3>

          <p>
            Empirismo é aprender fazendo. Testamos ideias e aprendemos com os
            resultados para entender melhor o que funciona. Por que é
            importante: Isso nos permite ajustar nossas abordagens com base em
            dados reais, em vez de suposições. Como praticamos isso: Trabalhamos
            em Sprints curtos e revisamos frequentemente o que foi feito para
            ajustar nosso plano conforme necessário.
          </p>

          <h3>Auto-organização:</h3>

          <p>
            Em vez de seguir ordens rígidas, a equipe decide como fazer o
            trabalho da melhor forma. Por que é importante: A auto-organização
            permite que a equipe tenha mais controle e responsabilidade, levando
            a uma maior eficiência. Como praticamos isso: Damos autonomia à
            equipe para tomar decisões e encontrar as melhores maneiras de
            realizar o trabalho.
          </p>

          <h3>Colaboração:</h3>

          <p>
            Colaborar significa trabalhar juntos e compartilhar conhecimento
            para atingir objetivos comuns. Por que é importante: A colaboração
            melhora a eficiência e a qualidade do trabalho, aproveitando as
            habilidades e perspectivas de todos. Como praticamos isso:
            Realizamos reuniões regulares e promovemos um ambiente onde todos
            podem contribuir com suas ideias.
          </p>

          <h3>Foco:</h3>

          <p>
            Manter o foco é concentrar nossos esforços em entregar valor real ao
            cliente em cada Sprint. Por que é importante: Focar nas prioridades
            ajuda a garantir que o trabalho esteja alinhado com as necessidades
            do cliente e traga os melhores resultados. Como praticamos isso:
            Definimos objetivos claros para cada Sprint e priorizamos as tarefas
            que trazem mais valor.
          </p>

          <h3>Valor:</h3>

          <p>
            O Scrum se concentra em entregar valor real ao cliente, atendendo às
            suas necessidades e expectativas. Por que é importante: Garantir que
            estamos entregando valor ajuda a aumentar a satisfação do cliente e
            o sucesso do projeto. Como praticamos isso: Priorizamos itens no
            backlog com base no valor que eles agregam e ajustamos o
            desenvolvimento conforme o feedback do cliente.
          </p>

          <h3>Desenvolvimento Iterativo:</h3>

          <p>
            Desenvolver o produto em pequenos pedaços e melhorar a cada ciclo.
            Por que é importante: Isso permite ajustes rápidos e feedback
            contínuo, resultando em um produto mais alinhado com o que o cliente
            deseja. Como praticamos isso: Trabalhamos em ciclos curtos (Sprints)
            e entregamos partes do produto para revisão e aprimoramento.
          </p>

          <h3>Time-boxing:</h3>

          <p>
            Time-boxing é definir períodos de tempo específicos para atividades
            e eventos. Por que é importante: Isso ajuda a manter o trabalho no
            ritmo e a evitar procrastinação, garantindo que as tarefas sejam
            concluídas dentro dos prazos. Como praticamos isso: Estabelecemos
            durações fixas para reuniões e Sprints, e nos mantemos dentro desses
            limites de tempo.
          </p>
        </article>

        <div class="img">
          <img src="/imgs/Valores-do-Scrum3.svg" alt="Scrum Principles" />
        </div>

        <section class="questionario">
          <h1>Questionário</h1>
          <p>Clique abaixo para abrir as questão</p>
          <button onclick="getQuestionario('2')" class="button-questionario">
            Questionário
          </button>
        </section>

        <div class="next-previous">
          <a href="/culturaMindset">Cultura e mindset ágil</a>
          <a href="/papeisScrum">Papéis do Scrum</a>
        </div>
      </section>
    </main>

    <script type="module" src="/scripts/indexModalQuestionario.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
    <script src="/scripts/abrirTela.js"></script>
  </body>
</html>
