<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleção de Questionário</title>
    <link rel="stylesheet" href="/styles/selecaoQuestionarios.css" />
    <script type="module" src="/scripts/index.js" defer></script>
    <script type="module" src="/scripts/abrirTela.js" defer></script>
    <script type="module" src="/scripts/selecaoQuestionario.js" defer></script>
  </head>
  <body>
    <main>
      <section class="cabecalho">
        <h1>Questionário sobre a Metodologia Scrum</h1>
        <p>
          Bem-vindo à página do questionário! O conteúdo está organizado por
          capítulos. Para iniciar o questionário de cada capítulo, basta clicar
          no conteúdo correspondente. Certifique-se de revisar cada capítulo
          antes de começar o questionário.
        </p>
      </section>
      <section class="questoes">
        <div class="questoes-conteudos">
          <!-- Exemplo de um dos artigos -->
          <article data-id="1">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 1 - Cultura e mindset ágil</h2>
            </div>
            <a href="/questionario/1" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>
          <!-- Exemplo com outros capítulos -->
          <article data-id="2">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 2 - Princípios e valores</h2>
            </div>
            <a href="/questionario/2" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>

          <article data-id="3">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 3 - Papéis do scrum</h2>
            </div>
            <a href="/questionario/3" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>
          <article data-id="4">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 4 - Artefatos do Scrum</h2>
            </div>
            <a href="/questionario/4" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>
          <article data-id="5">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 5 - Eventos do Scrum</h2>
            </div>
            <a href="/questionario/5" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>
          <article data-id="6">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 6 - Framework de trabalho</h2>
            </div>
            <a href="/questionario/6" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>
          <article data-id="7">
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 7 - Técnicas e ferramentas</h2>
            </div>
            <a href="/questionario/7" class="BotaoQuestionario">
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </a>
          </article>
        </div>
      </section>
    </main>
  </body>
</html>
