<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questionário</title>
    <link rel="stylesheet" href="/styles/selecaoQuestionarios.css" />
    <script type="module" src="/scripts/index.js" defer></script>
    <script src="/scripts/abrirPopup.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
  </head>
  <body>
    <main>
      <section class="cabecalho">
        <h1>Questionário sobre a Metodologia Scrum</h1>
        <p>
          Bem-vindo à página do questionário! O conteúdo está organizado por
          capítulos. Para iniciar o questionário de cada capítulo, basta clicar
          no conteúdo correspondente. Certifique-se de revisar cada capítulo
          antes de começar o questionário.
        </p>
      </section>
      <section class="questoes">
        <div class="questoes-conteudos">
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 1 - Cultura e mindset ágil</h2>
            </div>
            <button
              onclick="getQuestionario('1'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 2 - Princípios e valores</h2>
            </div>
            <button
              onclick="getQuestionario('2'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 3 - Papéis do scrum</h2>
            </div>
            <button
              onclick="getQuestionario('3'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 4 - Artefatos do Scrum</h2>
            </div>
            <button
              onclick="getQuestionario('4'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 5 - Eventos do Scrum</h2>
            </div>

            <button
              onclick="getQuestionario('5'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 6 - Framework de trabalho</h2>
            </div>
            <button
              onclick="getQuestionario('6'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
          <article>
            <div class="imagem-descricao">
              <img
                src="/imgs/livro-questoes.svg"
                alt="Livro representando questões"
              />
              <h2>Questões Capítulo 7 - Técnicas e ferramentas</h2>
            </div>
            <button
              onclick="getQuestionario('7'); abrirPopup('/questionarioPopup')"
            >
              <img
                src="/imgs/seta-questoes.svg"
                alt="Seta para próximo capítulo"
              />
            </button>
          </article>
        </div>
      </section>
    </main>
  </body>
</html>
