<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hypogram</title>
    <link rel="stylesheet" href="/styles/sobre.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <section id="one">
          <div class="text">
            <h1>Aprenda com os melhores.</h1>
            <h1>Torne-se o seu melhor.</h1>
            <p>
              Somos um grupo de estudantes de Desenvolvimento de Software
              Multiplataforma que, como parte de um projeto acadêmico, formamos
              uma equipe dedicada ao desenvolvimento de soluções digitais. Neste
              projeto, criamos um site educacional focado na metodologia Scrum,
              uma abordagem ágil amplamente usada no gerenciamento de projetos.
            </p>
          </div>
          <img src="/imgs/mulher-sobre.svg" alt="" />
        </section>
        <section id="two">
          <div class="text">
            <h1>The Hypogram</h1>
            <p>
              Hypogram é a tradução para o inglês da palavra "Hipograma", uma
              técnica de escrita desenvolvida pelo linguista francês Ferdinand
              de Saussure. Em seus poemas, Saussure desafiava a si mesmo a não
              utilizar uma determinada letra do alfabeto, criando um estilo
              único e criativo.
            </p>
            <p>
              Inspirados por essa técnica, escolhemos o nome "Hypogram" para
              representar nossa equipe. A palavra contém "Program", que
              significa programa, refletindo nosso foco no desenvolvimento de
              soluções digitais. Já o prefixo "Hy" faz referência a "high", ou
              seja, algo de alta qualidade.
            </p>
            <p>
              Com esse jogo de palavras, criamos o nome Hypogram, que simboliza
              nossa missão de entregar projetos de alta qualidade e inovação
              para nossos clientes, nossa equipe busca soluções inteligentes e
              eficientes, superando desafios e mantendo um alto padrão de
              excelência.
            </p>
          </div>

          <img src="/imgs/mao-sobre.svg" alt="" />
        </section>
        <section id="three">
          <img src="/imgs/grupo-sobre.svg" alt="" />

          <div class="text">
            <h1>Nossa Equipe</h1>
            <ul>
              <li>Carlos Magalhães - Product Owner</li>
              <li>Gustavo de Moraes - Scrum Master</li>
              <li>Adson Filho - Team Developer</li>
              <li>Andressa S. Toledo - Team Developer</li>
              <li>Eduardo H. Alves - Team Developer</li>
              <li>Luiz Filipe - Team Developer</li>
              <li>Marcella S. Carvalho - Team Developer</li>
              <li>Tauane Santos - Team Developer</li>
            </ul>
          </div>
        </section>
      </div>
    </main>
    <script type="module" src="/scripts/index.js"></script>
    <script src="/scripts/abrirTela.js"></script>
  </body>
</html>
