<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnicas e Ferramentas</title>
    <link rel="stylesheet" href="/styles/tecnicasFerramentas.css">
</head>

<body>
    <main class="container">

        <article>
            <h1>Técnicas e Ferramentas</h1>
            <div class="conteudo">
                <h3>Task Board</h3>

                <p>O Task Board é uma ferramenta visual que organiza as tarefas de um projeto em colunas como "A Fazer",
                    "Em Progresso" e "Concluído". Cada tarefa é representada por um cartão, que pode ser movido entre
                    essas colunas. Isso ajuda a equipe a ver rapidamente o que está sendo feito e o que precisa de
                    atenção. Ferramentas como Trello e Jira são muito usadas para criar esses quadros interativos. </p>

                <div class="img">
                    <img src="/imgs/tecferr1.svg" alt="Taskboard">
                </div>

                <h3>Burndown</h3>

                <p>O gráfico de Burndown mostra quanto trabalho ainda falta para ser feito em um projeto. Ele ajuda a
                    equipe a monitorar seu progresso e a prever se conseguirá concluir todas as tarefas dentro do prazo.
                    Ferramentas como Jira podem gerar esses gráficos automaticamente, tornando mais fácil entender como
                    a equipe está se saindo. </p>

                <div class="img">
                    <img src="/imgs/tecferr2.svg" alt="Burndown">
                </div>

                <h3>Timeboxing</h3>

                <p>Timeboxing é a prática de limitar o tempo dedicado a uma tarefa ou fase do projeto, chamada de
                    Sprint. Isso ajuda a equipe a se concentrar e a entregar resultados de forma regular. Ferramentas
                    como Asana e Trello permitem definir prazos para as tarefas, ajudando a manter o foco e a
                    organização. </p>

                <h3>Estimativas: Planning Poker e T-Shirt Sizes</h3>

                <p>Planning Poker é uma técnica onde a equipe usa cartas para estimar quanto esforço uma tarefa exigirá.
                    Isso promove conversas e acordos sobre o que cada um pensa. Existem ferramentas online que facilitam
                    essa estimativa para equipes que estão distantes.
                    T-Shirt Sizes é uma forma simples de classificar as tarefas em tamanhos como P, M, G e GG,
                    facilitando a compreensão do esforço necessário sem usar números complexos. Essa abordagem pode ser
                    aplicada facilmente em ferramentas como Trello.</p>

                <div class="img">
                    <img src="/imgs/tecferr3.svg" alt="Planing Poker">
                </div>

                <h3>Definition of Done</h3>

                <p>A Definition of Done é uma lista de critérios que define quando uma tarefa está realmente concluída.
                    Isso garante que todos na equipe tenham o mesmo entendimento sobre o que significa "pronto".
                    Ferramentas como Confluence ajudam a documentar essa lista, e o Trello pode ser usado para verificar
                    se todos os critérios foram atendidos.</p>

                <h3>User Story</h3>

                <p>User Stories são descrições simples de funcionalidades do ponto de vista do usuário. Elas ajudam a
                    equipe a entender melhor as necessidades dos clientes. Essas histórias são gerenciadas em
                    ferramentas como Jira ou Trello, onde a equipe pode acompanhar o progresso delas.</p>

                <div class="img">
                    <img src="/imgs/tecferr4.svg" alt="User Story">
                </div>

                <h2>Técnicas e Ferramentas Complementares</h2><br>
                <h3>XP (eXtreme Programming)</h3>

                <p>XP é uma metodologia que foca na qualidade do código e na colaboração entre os desenvolvedores.
                    Algumas práticas importantes incluem:
                    Programação em Par: dois desenvolvedores trabalham juntos, o que melhora a qualidade e o
                    compartilhamento de conhecimento.
                    Desenvolvimento Orientado a Testes (TDD): os testes são escritos antes do código, garantindo que o
                    que está sendo feito atenda aos requisitos desde o início.
                    Ferramentas como Slack e GitHub facilitam essa colaboração. </p>

                <h3>DevOps</h3>

                <p>DevOps é uma abordagem que une as equipes de desenvolvimento e operações para melhorar a colaboração
                    e a automação. Isso significa que todos trabalham juntos para tornar o desenvolvimento e a entrega
                    de software mais rápidos e eficientes. Ferramentas como GitLab e Jenkins ajudam a implementar essas
                    práticas. </p>

                <h3>CI/CD (Continuous Integration/Continuous Deployment)</h3>

                <p>CI/CD refere-se a práticas que automatizam a integração e a entrega de código. Isso significa que as
                    atualizações são feitas de forma rápida e contínua. Ferramentas como CircleCI e Jenkins são comuns
                    nesse processo. </p>

                <h3>Kanban</h3>

                <p>Kanban é um sistema visual que ajuda a equipe a gerenciar seu fluxo de trabalho. Ele permite que
                    todos vejam o que está sendo feito e o que ainda precisa ser feito. O Trello é uma ferramenta
                    popular para usar Kanban, permitindo a criação de quadros e cartões para gerenciar as tarefas.</p>

                <h3>Conclusão</h3>

                <p>Combinar essas técnicas e ferramentas, como Trello, Jira e GitHub, pode melhorar muito a eficácia de
                    uma equipe que trabalha em projetos. O Scrum oferece uma estrutura clara, enquanto as ferramentas
                    ajudam a otimizar o trabalho, aumentar a transparência e garantir a qualidade das entregas. Isso
                    leva a resultados mais rápidos e alinhados com as necessidades dos usuários.</p>


                <section class="questionario">
                    <h2>Questionário</h2>
                    <p>Clique abaixo para abrir as questão</p>
                    <button onclick="getQuestionario('7')" class="button-questionario">Questionário</button>
                </section>

                <div class="next-previous">
                    <a href="/frameworkTrabalho">Framework de trabalho</a>
                    <a href="/culturaMindset">Cultura e mindset ágil</a>
                </div>
        </article>


    </main>

    <script type="module" src="/scripts/index.js"></script>
    <script type="module" src="/scripts/indexModalQuestionario.js"></script>
    <script src="/data/questionario_data.js"></script>
    <script src="/scripts/getQuestionario.js"></script>
    <script src="/scripts/abrirTela.js"></script>
</body>

</html>