@import 'global.css';
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

:root{
    --principal: white;
    ;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--principal);
}

.menu-container {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 300px;
    height: 100vh;
    background-color: var(--header-bg);
    color: var(--principal);
    transition: left 0.3s ease; 
    border-right: 2px solid var(--principal); 
    padding-top: 20px;
    justify-content: space-between;
}



.menu-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-container ul li  {
    padding: 15px;
}

.menu-container ul li a {
    text-decoration: none;
    color: var(--principal);
    display: block;
    font-size: var(--normal);
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu-container ul li a:hover {
    background-color: var(--header-bg);
}


.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    background: none;
    border: none;
    cursor: pointer;
}



.close-btn {
    position: absolute;
    top: 5px; 
    right: 20px; 
    font-size: 20px;
    color: var(--principal);
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 20;
    transition: background-color 0.3s ease;
    width: 10%;
}

/* .close-btn:hover {
    background-color: #444; 
} */

.menu-container.open {
    left: 0; 
}

.menu-btn.hidden {
    display: none; 
}

.showmobile {
    display: none;
}

.hiddenmobile{
    display: block;
}


@media (max-width: 1024px) {
    .menu-container {
        width: 300px; 
    }

    .showmobile{
        display: block;
    }

    .hiddenmobile{
        display: none;
    }

    .entrarsairmobile{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        position: absolute; 
        left: 100px;
        bottom: 2rem; 
        border: 1px solid white;
    }

}
